/.project
/tmp/
/target/
/test/
.texlipse
.settings
*.aux
*.log
*.glo
*.idx
*.brf
*.nlo
*.nls
*.bst
*.glg
*.gls
*.ilg
*.ind
*.ist
*.toc
*.bbl
*.blg
*.out
*.lot
*.loq
*.fls
*.fdb_latexmk
*.synctex.gz
.DS_Store